@model KurumsalWeb.Models.Model.Slider

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Slider</h2>

<h3>Seçili Slider Alanını Silmek İstiyor musunuz?</h3>
<div>
    <h4 class="text-center">Bilgiler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>

        <dd>
            <img class="img-responsive" width="800" height="450" src="@Model.ResimUrl"/>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Geriye Dön", "Index",new { },new { @class ="btn btn-default"})
        </div>
    }
</div>
