@using PagedList
@using PagedList.Mvc
@model IPagedList<KurumsalWeb.Models.Model.Yorumlar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2 class="text-center">Blog Yorumları</h2>

<table class="table">
        <tr>
            <th>
                Blog Başlık
            </th>
            <th>
                Ad Soyad
            </th>
            <th>
                E-Posta
            </th>
            <th>
                Yorum
            </th>
            <th>
                Onay
            </th>
            <th></th>
        </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Blog.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eposta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yorum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Onay)
                </td>
                <td>
                    @Html.ActionLink("Onayla", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, sayfa => Url.Action("", new { sayfa }))
