@model KurumsalWeb.Models.Model.Blog
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/AnaSayfa"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="/BlogPost">Blog</a><i class="icon-angle-right"></i></li>
                    <li class="active">@Model.Baslik</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>


                    <div class="post-image">
                        <div class="post-heading">
                            <h3>@Model.Baslik</h3>
                        </div>
                        <img src="@Model.ResimUrl" alt="@Model.Baslik" width="100%" />
                        <div class="bottom-article">
                            <ul class="meta-post">
                                <li><i class="icon-folder-open"></i><a href="/Home/BlogKategori/@Model.KategoriId"><h4> @Model.Kategori.KategoriAd</h4></a></li>
                                @*<li><i class="icon-comments"></i><a href="#">4 Comments</a></li>*@
                            </ul>
                        </div><hr />
                    </div>
                    <p>
                        @Html.Raw(Model.Icerik)
                    </p>

                </article>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h4>Yorum Yap</h4>
            <form class="form-validate form-horizontal" action="/Home/YorumYap/@Model.Id">
                <div class="form-group">
                    <div class="col-lg-6">
                        <input required class="form-control" type="text" name="AdSoyad" placeholder="Ad Soyad..." /><br />
                        <input required class="form-control" type="email" name="Eposta" placeholder="E-Posta..." /><br />
                        <textarea required class="form-control" rows="4" name="Yorum" typeof="text" placeholder="Yorum..."></textarea><br />
                        <button type="submit" class="btn btn-dark" id="gonder">Yorum Yap</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>Blog Yorumları</h2>
        @foreach (var item in Model.Yorumlar.Where(x => x.Onay==true).OrderByDescending(x => x.Id))
        {
            <h5>@item.AdSoyad -- @item.Eposta</h5>
            <p class="font-weight-bolder">@item.Yorum</p>
            <hr />
        }
    </div>
</div>
@*<script src="~/Content/SiteLayout/js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#gonder").click(function () {
            var adisoyadi = $("#adSoyad").val();
            var epostasi = $("#ePosta").val();
            var yorumunuz = $("#icerik").val();
            $.ajax({
                url: '/Home/YorumYap',
                data: { adSoyad: adisoyadi, ePosta: epostasi, icerik: yorumunuz, id:@Model.Id },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert("Yorumunuz eklendi, kontrol edildikten sonra yayılacaktır.");
                }
            });
        });
    })
</script>*@
@{
    Html.RenderAction("FooterPartial", "Home");
}
